html,
body{
  margin: 0px;
  padding: 0px;
  height:100%;
  background: #D9D9D9;
  font-family: 'Lato', sans-serif;
}

#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:0px;
	position: fixed;
	width: 100%;
}
#content {
	padding:0px;
	padding-bottom:100px;   /* Height of the footer element */
}
#footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	background: #171617;
	border-top: 7px solid #3498db;
}

#blanco{
	color: white;
}

nav{
  float: left; 
  clear: both;
  width: 100%; 
  margin: 0;
  background: #FFFFFF;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav li{
	float: left; 
  width: 20%;
  background: #FFFFFF;
}

nav li a{
  display: block; 
  width: 100%; 
  padding: 20px; 
  border-top: 5px solid; 
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
}
	
nav li a:hover{ border-bottom: 0px; color: #fff;}
nav li:first-child a{ border-top: 10px solid #3498db; }
nav li:nth-child(2) a{ border-top: 10px solid #3498db; }
nav li:nth-child(3) a{ border-top: 10px solid #ffd071; }
nav li:nth-child(4) a{ border-top: 10px solid #f0776c; }
nav li:last-child a{ border-top: 10px solid #1abc9c; }

nav li a:after { 
  content: "";
  height: 100%;
  left: 0; 
  top: 0; 
  width: 0%;  
  position: absolute; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;
}

nav li a:hover:after{ width: 100%; }
nav li:first-child a:after{ background: #3498db; }
nav li:nth-child(2) a:after{ background: #3498db; }
nav li:nth-child(3) a:after{ background: #ffd071; }
nav li:nth-child(4) a:after{ background: #f0776c; }
nav li:last-child a:after{ background: #1abc9c; }



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
